{% extends "base.html" %}
{% block title %}
    {{ request.app.openapi_config.title }} - {{ map_type }}
{% endblock title %}
{% block content %}
    <h1>{{ map_type }}</h1>
    {% if error %}
        <h3>{{ error }}</h3>
    {% else %}
        <div class="inner-container inner-container-expand">
            <div class="map-container map-container--maplibre"
                 data-map-type="{{ map_type }}">
                <div id="map-element"></div>
                <img class="map-loader"
                     id="map-loader"
                     src="/static/loader.svg"
                     width="100%"
                     height="80px"
                     alt="Loading spinner">
            </div>
        </div>
        <script src="/static/js/static-stop-map.js?{{ request.app.openapi_config.version }}"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const wrap = document.querySelector(".map-container--maplibre[data-map-type]");
                if (wrap && window.initStaticStopMap) {
                    initStaticStopMap(wrap.dataset.mapType, "map-element");
                }
            });
        </script>
    {% endif %}
{% endblock content %}
