{% extends "base.html" %}
{% block title %}
    {{ request.app.openapi_config.title
    }} - About
{% endblock title %}
{% block content %}
    <div class="narrow-container">
        <h1>About SimplyTransport</h1>
        <p class="dense-text">
            SimplyTransport is a project developed to simplify transit data lookup. It aims to provide an accessible and efficient way to access transport
            data provided by
            <a class="link-style"
               target="_blank"
               href="https://www.transportforireland.ie/transitData/PT_Data.html">Transport For Ireland</a>
            in the
            <a class="link-style" target="_blank" href="https://gtfs.org/">GTFS</a>
            format.
        </p>
        <h2>Features</h2>
        <p class="dense-text">
            SimplyTransport is constantly growing, with new features being added
            regularly. It provides an API for accessing formatted GTFS data, with the
            ability to query specific subsets of data. This functionality is not
            available in the limited government APIs. Additional data models have also
            been defined to make working with the datasets more accessible.
        </p>
        <h2>Technology</h2>
        <p class="dense-text">
            SimplyTransport is built using a variety of technologies to ensure
            efficiency and reliability:
        </p>
        <ul class="dense-text">
            <li>Python</li>
            <li>Litestar (web framework)</li>
            <li>PostgreSQL</li>
            <li>Redis</li>
            <li>Docker</li>
            <li>NginX</li>
            <li>CloudFlare</li>
        </ul>
        <h2>Contribute</h2>
        <p class="dense-text">
            Contributions to SimplyTransport are always welcome. If you have any
            suggestions or want to report an issue, please feel free to open an issue on
            the
            <a class="link-style"
               target="_blank"
               href="https://github.com/ANIALLATOR114/SimplyTransport">GitHub repository</a>. More technical explanations of the data can be found on the GitHub
            repository too as well as instructions on how to run the project.
        </p>
    </div>
{% endblock content %}
