{% extends "base.html" %}
{% block title %}
    {{ request.app.openapi_config.title }} - API docs
{% endblock title %}
{% block content %}
    <div class="narrow-container">
        <h1>API Documentation</h1>
        <p class="dense-text">The SimplyTransport API docs are available under multiple schemas.</p>
        <h2>API Docs</h2>
        <ul class="bullet-points">
            <li class="dense-text">
                <a class="link-style" href="/docs/elements">StopLight</a> ( recommended )
            </li>
            <li class="dense-text">
                <a class="link-style" href="/docs/scalar">Scalar</a> ( recommended )
            </li>
            <li class="dense-text">
                <a class="link-style" href="/docs/redoc">ReDoc</a>
            </li>
            <li class="dense-text">
                <a class="link-style" href="/docs/swagger">Swagger UI</a>
            </li>
            <li class="dense-text">
                <a class="link-style" href="/docs/rapidoc">Rapidoc</a>
            </li>
        </ul>
        <h2>Raw Files</h2>
        <ul class="bullet-points">
            <li class="dense-text">
                <a class="link-style" href="/docs/openapi.json">OpenAPI JSON</a>
            </li>
            <li class="dense-text">
                <a class="link-style" href="/docs/openapi.yaml">OpenAPI YAML</a>
            </li>
        </ul>
    </div>
{% endblock content %}
