<style>
.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.footer {
	position: absolute;
    width: 100%;
	color: var(--font-color);
	bottom: 0;
    border-top: 1px solid rgb(100, 100, 100);
}

.footer-item{
    padding-right: 2rem;
}

.social-icon{
    width: 2rem;
    border-radius: 50%;
    transition: all 0.2s ease;
}
.social-icon:hover {
    box-shadow: 0 0 14px #01FFF4;
    transform: scale(1.1);
}

.page-container {
	position: relative;
	min-height: 100vh;
    overflow-x: hidden;
}

.content-wrap {
	padding-bottom: 60px; /* Footer height */
}

@media only screen and (max-width: 600px) {
    .footer-flex {
        flex-direction: column;
    }
    .content-wrap {
		padding-bottom: 120px; /* Footer height */
	}

    .footer-item{
        padding-right: 0rem;
    }
}


</style>
<footer class="footer" id="footer">
    <div class="container">
        <div class="footer-flex">
            <div class="footer-item">
                <a class="header-link" href="/">
                    <div class="navbar-head">
                        <div class="nav-logo">
                            <img src="/static/simply_transport_logo.svg"
                                 alt="logo"
                                 width="100%"
                                 height="100%">
                        </div>
                        <div style="font-size: 1rem;">{{ request.app.openapi_config.title }}</div>
                        <span class="version-tag" style="font-size:0.7rem;">{{ request.app.openapi_config.version }}</span>
                    </div>
                </a>
            </div>
            <div class="footer-item">
                <a href="https://github.com/ANIALLATOR114/SimplyTransport"
                   target="_blank">
                    <div class="social-icon">
                        <img src="/static/social-github.svg"
                             alt="github"
                             width="100%"
                             height="100%">
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>
