{% extends "base.html" %}
{% block title %}
    SimplyTransport
{% endblock title %}
{% block content %}
    <div class="narrow-container">
        <h1 class="page-header">Welcome to SimplyTransport</h1>
        <p class="dense-text">
            Your gateway to seamless and efficient transportation across the scenic landscapes of Ireland! Our mission is to make your journeys smoother, more accessible, and environmentally friendly.
        </p>
        <p class="dense-text">
            At SimplyTransport, we harness the power of General Transit Feed Specifications (GTFS) to provide you with comprehensive, real-time information about Ireland's public transportation networks. Whether you're a local commuter or an adventurous traveler, we've got you covered.
        </p>
        <p class="dense-text">
            Explore the charm of Ireland's vibrant cities, ancient towns, and picturesque countryside without the hassle of navigating complex transportation systems. Our user-friendly platform empowers you to plan routes, track schedules, and access vital information at your fingertips. You'll save time and reduce your carbon footprint by choosing eco-friendly transit options.
        </p>
        <p class="dense-text">
            Discover the beauty of Ireland, from the rolling hills of the countryside to the bustling streets of Dublin, Cork, and Galway, with confidence and convenience. We are your dedicated partner in experiencing the heart of the Emerald Isle.
        </p>
        <p class="dense-text">
            Join us on a journey towards smarter, greener, and more accessible transportation. Start your adventure with SimplyTransport today, and let's move Ireland together, one ride at a time.
        </p>
    </div>
{% endblock content %}
