{% extends "base.html" %}
{% block title %}
    SimplyTransport
{% endblock title %}
{% block content %}
    <div class="narrow-container">
        <h1>Welcome to SimplyTransport</h1>
        <p class="dense-text">
            SimplyTransport is the one-stop solution for navigating Ireland's public transportation system.
        </p>
        <p class="dense-text">
            Access vital transit information for Dublin Bus, Go-Ahead, Bus Éireann, Irish Rail, and Luas. SimplyTransport provides a simple, intuitive interface to quickly get the latest information on your journey.
        </p>
        <p class="dense-text">
            Read more about SimplyTransport <a href="/about">here</a>.
        </p>
        <p class="dense-text">
            Have a look <a href="/realtime/stop/8220DB001359">at a stop</a> on dame street as an example!
        </p>
        <div class="inner-container">
            <h2 class="no-top-margin">Datasets</h2>
            <div class="data-updates">
                <div class="dense-text bold-highlight">Dataset</div>
                <div class="dense-text bold-highlight">Last Updated</div>
                <div class="dense-text bold-highlight">Expected Frequency</div>
                <div class="dense-text">Realtime Updates</div>
                <div class="dense-text">
                    {% if realtime_updated %}
                        {{ realtime_updated.created_at_pretty }}
                    {% else %}
                        Unknown
                    {% endif %}
                </div>
                <div class="dense-text">Every minute</div>
                <div class="dense-text">Vehicle Positions</div>
                <div class="dense-text">Coming soon</div>
                <div class="dense-text">Every minute</div>
                <div class="dense-text">GTFS Static Schedules</div>
                <div class="dense-text">
                    {% if gtfs_updated %}
                        {{ gtfs_updated.created_at_pretty }}
                    {% else %}
                        Unknown
                    {% endif %}
                </div>
                <div class="dense-text">Nightly (if needed)</div>
                <div class="dense-text">Stop Features</div>
                <div class="dense-text">
                    {% if stop_features_updated %}
                        {{ stop_features_updated.created_at_pretty }}
                    {% else %}
                        Unknown
                    {% endif %}
                </div>
                <div class="dense-text">Very infrequently</div>
                <div class="dense-text">
                    <a href="/events">Detailed</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="/static/bus-sideways.svg"
             height="50"
             width="50"
             class="bus-animation"
             alt="bus sideways svg">
    </div>
    <style>
        .bus-animation {
            width: 50px; /* Set the width of the bus */
            position: fixed; /* Make the bus fixed at the bottom of the screen */
            bottom: 0; /* Position it at the bottom of the screen */
            -moz-animation: driveBus 22s linear infinite, rumble 1.5s linear infinite;
            -webkit-animation: driveBus 22s linear infinite, rumble 1.5s linear infinite;
            overflow-x: hidden;
        }

        @-moz-keyframes driveBus {
            0% { left: -50%; }
            100% { left: 110%; }
        }

        @-webkit-keyframes driveBus {
            0% { left: -50%; }
            100% { left: 110%; }
        }

        @keyframes rumble {
            0%, 100% {
                transform: translateX(0);
            }
            10%, 30%, 50%, 70%, 90% {
                transform: translateY(-1px);
            }
            20%, 40%, 60%, 80% {
                transform: translateY(1px);
            }
        }
    </style>
{% endblock content %}
