<style>
    .navbar {
        width: 100%;
        border-bottom: 1px solid rgb(100, 100, 100);
        display: flex;
        align-items: center;
        position: sticky;
        top:0;
        background-color: var(--bg-color);
        z-index: 999;
    }

    .navbar-flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        gap: 1.1rem;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .navbar-head {
        display: flex;
        font-size: 1.5rem;
        font-weight: 700;
        align-items: center;
    }

    .navbar-item {
        display: flex;
    }

    .nav-logo {
        width: 2rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .nav-search-logo {
        margin-right: 0.3rem;
        width: 1.2rem;
        display: flex;
        align-items: center;
    }

    .nav-button{
        border-radius: 10px;
        background: transparent;
        padding: 0.6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border: 2px solid rgb(180, 180, 180);
        color: var(--font-color);
        font-weight: 500;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .nav-button:hover{
        background-color: var(--bg-color-highlight);
        transition: all 0.2s ease-in-out;
    }

    .nav-link{
        font-weight: 500;
        font-size: 1.1rem;
        padding: 0.6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: var(--font-color);
        cursor: pointer;
        border-radius: 10px;
        background-color: var(--bg-color-bump);
        border: 1px solid var(--bg-color-bump-border);
    }

    .nav-link-text {
        text-decoration: none;
        color: var(--font-color);
    }

    .nav-link:hover{
        background-color: var(--bg-color-highlight);
        transition: all 0.2s ease-in-out;
    }

    .version-tag{
        font-weight: 500;
        font-size: 1.0rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        margin-left: 0.6rem;
        border-radius: 5px;
        background-color: rgb(93, 110, 159);
    }

    .header-link {
        text-decoration: none;
        color: var(--font-color);
    }

    @media screen and (max-width: 750px) {
	.navbar-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 0.6rem;
	}

    .navbar-flex > :first-child {
        grid-column: span 2;
    }

    .nav-button {
        font-size: 1rem;
    }

    .nav-search-logo {
        width: 1rem;
    }

    .nav-link {
        font-size: 1rem;
    }
    .navbar {
        position: relative;
    }

    .navbar-head {
        font-size: 1.2rem;
    }
}
</style>
<nav class="navbar">
    <div class="container">
        <div class="navbar-flex">
            <a class="header-link" href="/">
                <div class="navbar-head">
                    <div class="nav-logo">
                        <img src="/static/simply_transport_logo.svg"
                             alt="logo"
                             width="32"
                             height="32">
                    </div>
                    <span>{{ request.app.openapi_config.title }}</span>
                    <span class="version-tag">{{ request.app.openapi_config.version }}</span>
                </div>
            </a>
            <div class="navbar-item">
                <a href="/stops" style="text-decoration:none;">
                    <button class="nav-button">
                        <div class="nav-search-logo">
                            <img src="/static/search_icon.svg" alt="search" width="100%" height="100%">
                        </div>
                        <span>Stops</span>
                    </button>
                </a>
            </div>
            <div class="navbar-item">
                <a href="/routes" style="text-decoration:none;">
                    <button class="nav-button">
                        <div class="nav-search-logo">
                            <img src="/static/search_icon.svg" alt="search" width="100%" height="100%">
                        </div>
                        <span>Routes</span>
                    </button>
                </a>
            </div>
            <div class="navbar-item">
                <a href="/maps">
                    <button class="nav-link">
                        <span class="nav-link-text">Maps</span>
                    </button>
                </a>
            </div>
            <div class="navbar-item">
                <a href="/stats">
                    <button class="nav-link">
                        <span class="nav-link-text">Stats</span>
                    </button>
                </a>
            </div>
            <div class="navbar-item">
                <a href="/apidocs">
                    <button class="nav-link">
                        <span class="nav-link-text">Api Docs</span>
                    </button>
                </a>
            </div>
            <div class="navbar-item">
                <a href="/events">
                    <button class="nav-link">
                        <span class="nav-link-text">Events</span>
                    </button>
                </a>
            </div>
            <div class="navbar-item">
                <a href="/about">
                    <button class="nav-link">
                        <span class="nav-link-text">About</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</nav>
