<style>
/* Brackets */
.hljs-punctuation {
    color: var(--font-color-secondary)
}

/* Strings */
.hljs-string {
    color: var(--font-color-secondary)
}

/* Numbers */
.hljs-number {
    color: var(--font-color-secondary);
    font-weight: bold
}

/* Keys */
.hljs-attr {
    color: var(--font-color-highlight-light)
}
</style>
{% if events %}
    <div class="single-event">
        <div class="event-chip-holder">
            <span class="event-chip">{{ search_type }}</span> <span class="event-chip">{{ sort }}</span>
        </div>
        <div class="pagination-total">
            <div class="pagination-pages flex-start">
                <span class="dense-text event-chip">Page {{ current_page }} of {{ total_pages }}</span>
                <span class="dense-text event-chip">Limit: {{ limit }}</span>
                <span class="dense-text event-chip">Total: {{ total }}</span>
            </div>
            <div class="pagination-pages">
                {% for page in pages %}
                    {% if page == current_page %}
                        <button disabled class="pagination-button pagination-button-current">{{ page }}</button>
                    {% else %}
                        <button hx-get="/events/search?currentPage={{ page }}"
                                hx-trigger="click"
                                hx-target="#events-container"
                                hx-swap="transition:true"
                                hx-include="[name='search_type'],[name='sort'],[name='pageSize']"
                                class="pagination-button">{{ page }}</button>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% for event in events %}
        <div class="single-event">
            <div class="event-chip-holder">
                <span class="event-chip">{{ event.created_at_pretty }}</span><span class="event-chip">{{ event.event_type }}</span>
            </div>
            <pre class="event-code"><code class="language-json">{{ event.to_json() }}</code></pre>
        </div>
    {% endfor %}
{% else %}
    <div class="single-event">
        <div class="event-chip-holder">
            <span class="event-chip">No events found...</span>
        </div>
    </div>
{% endif %}
<script>hljs.highlightAll();</script>
