
LITESTAR_APP=SimplyTransport.app:create_app
SECRET_KEY=secret
BUILD_NUMBER=0
DEBUG=true
ENVIRONMENT=DEV
LOG_LEVEL=INFO
NAME=SimplyTransport


# OpenAPI
OPENAPI_TITLE=SimplyTransport
OPENAPI_VERSION=0.1.0


# Database
DB_URL=postgresql+asyncpg://example:example@localhost:5432/example
