:root {
	--bg-color: rgb(16 22 37) !important;
	--bg-color-bump: rgb(21, 30, 49) !important;
	--bg-color-bump-border: rgb(49, 59, 70) !important;
	--bg-color-bump-even: rgb(26, 36, 59) !important;
	--bg-color-highlight: rgb(35, 49, 80) !important;
	--bg-color-light: rgb(56, 80, 132) !important;
	--font-color: rgb(230 230 230) !important;
	--font-color-secondary: rgb(215 215 215) !important;
	--font-color-highlight: rgb(143, 91, 185) !important;
	--font-color-highlight-light: rgb(206, 181, 227) !important;
}

* {
	font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
	width: 0.6rem;
	height: 0.4rem;
}

::-webkit-scrollbar-track {
	background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
	background: var(--bg-color-light);
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.t-big {
	font-size: 1.5rem;
}

.t-bigger {
	font-size: 2rem;
}

.container {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}

.narrow-container {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.dense-text {
	letter-spacing: 0.07rem;
	color: var(--font-color-secondary);
	line-height: 1.4rem;
}

h1 {
	font-size: 2.5rem;
	color: var(--font-color);
	letter-spacing: 0.15rem;
}

h2 {
	font-size: 1.6rem;
	color: var(--font-color);
	letter-spacing: 0.13rem;
}

.h2-svg img {
	width: 2.1rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border-radius: 50%;
}

.h2-svg:hover img {
	transform: scale(1.1) rotate(180deg);
}

h3 {
	font-size: 1.2rem;
	color: var(--font-color);
	letter-spacing: 0.1rem;
}

.h2-table {
	margin-top: 0.4rem;
	margin-bottom: 1rem;
}

.h3-table {
	margin-top: 0.2rem;
	margin-bottom: 1rem;
}

.link-icon-table {
	width: 0.8rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.link-icon-table:hover {
	transform: scale(1.2);
}

.no-underline {
	text-decoration: none;
}

.bottom-margin {
	margin-bottom: 1rem;
}

.load-with-dropdown {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.7rem;
	margin-bottom: 1rem;
	font-size: 1rem;
}

.dropdown {
	background-color: var(--bg-color-highlight);
	border-radius: 0.3rem;
	color: var(--font-color);
	padding: 0.4rem;
	border: none;
	font-size: 1rem;
}

.hoverable {
	cursor: pointer;
}

.bullet-points li {
	margin-bottom: 1.5rem;
}

.bullet-points {
	margin-block-end: 1.5rem !important;
	margin-block-start: 1.5rem !important;
}

.link-style {
	color: var(--font-color-highlight);
	text-decoration: underline;
	transition: all 0.2s ease-in-out;
}

.link-style:hover {
	color: var(--font-color-highlight-light);
}

.inner-container {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	border-radius: 0.5rem;
	padding: 0.9rem;
	background-color: var(--bg-color-bump);
	min-width: fit-content;
	border: 1px solid var(--bg-color-bump-border);
}

.table-search {
	width: 100%;
	border-spacing: 0px;
}

.table-search th {
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	padding-top: 0.6rem;
	padding-bottom: 0.5rem;
	text-align: left;
	background-color: var(--bg-color-light);
}

.table-search th:first-child {
	border-top-left-radius: 0.25rem;
}

.table-search th:last-child {
	border-top-right-radius: 0.25rem;
}

.table-search tr th {
	margin-right: 10px;
}

.table-search td {
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	padding-top: 0.6rem;
	padding-bottom: 0.5rem;
}

.table-search tbody tr {
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.table-search tbody tr:nth-child(odd) {
	background-color: var(--bg-color-bump-even);
}

.table-search.no-stripe tbody tr {
	background-color: var(--bg-color-bump-even);
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
	margin-left: 5px;
}

.table-search tbody tr:hover {
	background-color: var(--bg-color-highlight);
}

.bold-highlight {
	font-weight: bold;
}

.color-late {
	border-left: 3px solid rgb(140, 0, 0);
}

.color-early {
	border-left: 3px solid rgb(0, 140, 0);
}

.color-on-time {
	border-left: 3px solid rgb(189, 132, 0);
}

.color-unknown {
	border-left: 3px solid rgb(100, 100, 100);
}

.hover-cell {
	transition: all 0.2s ease-in-out;
	background-color: var(--bg-color-light);
}

.search-box {
	border-radius: 0.3rem;
	font-size: 1rem;
	padding: 0.7rem;
	outline: none;
	border: 3px solid var(--bg-color-highlight);
	background-color: var(--bg-color);
	color: var(--font-color);
}

.search-box:focus {
	border: 3px solid var(--bg-color-light);
}

.pagination-total {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 0.3rem;
	font-size: 0.8rem;
	border-top: 2px solid var(--bg-color-highlight);
}

.pagination-pages {
	display: flex;
	justify-content: flex-end;
	gap: 0.4rem;
	flex-wrap: wrap;
}

.colors-legend {
	display: flex;
	gap: 0.9rem;
}

.flex-start {
	justify-content: flex-start;
}

.pagination-button {
	border-radius: 0.3rem;
	font-size: 0.9rem;
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	border: none;
	background-color: var(--bg-color-highlight);
	color: var(--font-color);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.pagination-button-current {
	background-color: var(--bg-color-light);
}

.pagination-button:hover {
	background-color: var(--bg-color-light);
}

.code-highlight {
	background-color: var(--bg-color-highlight) !important;
	padding: 0.1rem;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	border-radius: 0.25rem;
	font-size: 1.1rem;
}

.input-with-loader {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.loader-svg {
	animation: loader 1.5s infinite linear;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.htmx-indicator.htmx-request .loader-svg {
	opacity: 1;
}

.no-line-break {
	white-space: nowrap;
}

.no-top-margin {
	margin-top: 0rem;
}

.data-updates {
	--gap: 1.7rem;
	--line-offset: calc(var(--gap) / 2);
	--line-thickness: 2px;
	--line-color: var(--bg-color-highlight);

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: start;
	gap: var(--gap);
	overflow: hidden;
}

.data-updates > div {
	position: relative;
}

.data-updates > div::after {
	content: "";
	position: absolute;
	background-color: var(--line-color);
	z-index: 1;
	inline-size: 100vw;
	block-size: var(--line-thickness);
	inset-inline-start: 0;
	inset-block-start: calc(var(--line-offset) * -1);
}

.flex-separate {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.word-highlight {
	color: var(--font-color-highlight);
	font-weight: bold;
}

.table-search-top-text-pad {
	padding-bottom: 0.7rem;
}

.link-button {
	border-radius: 10px;
	background: transparent;
	padding: 0.4rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	border: 2px solid rgb(180, 180, 180);
	color: var(--font-color);
	font-weight: 500;
	font-size: 1rem;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.link-button:hover,
.route-link-button:hover {
	background-color: var(--bg-color-highlight);
}

.route-link-button {
	border-radius: 10px;
	background: transparent;
	padding: 0.4rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	border: 2px solid var(--font-color-highlight);
	color: var(--font-color);
	font-weight: 500;
	font-size: 1rem;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	min-width: 5rem;
}

.stop-feature-container {
	border-radius: 10px;
	background: transparent;
	padding: 1rem;
	border: 2px solid var(--font-color-highlight);
	color: var(--font-color);
}

.stop-feature-header {
	font-weight: 600;
	font-size: 1.1rem;
	border-bottom: 2px solid var(--font-color-highlight);
	display: flex;
	justify-content: center;
}

.flex-gap {
	display: flex;
	gap: 0.6rem;
	flex-wrap: wrap;
}

.flex-gap-bigger {
	display: flex;
	gap: 1.2rem;
	flex-wrap: wrap;
}

.flex-column-gap {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.collapsible {
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.toggle-visibility-button {
	padding-left: 0.9rem;
	padding-right: 0.9rem;
}

.no-pointer {
	cursor: text !important;
}

.map-loader {
	display: none;
	padding-bottom: 40%;
}

.htmx-request.map-loader {
	display: inline;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 750px) {
	.container {
		padding: 0.5rem;
	}

	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1.1rem;
	}

	h3 {
		font-size: 1rem;
	}

	.dense-text {
		font-size: 0.9rem;
	}

	.narrow-container {
		padding: 0rem;
	}

	.code-highlight {
		font-size: 0.85rem;
	}

	.pagination-button {
		font-size: 0.85rem;
		padding-top: 0.4rem;
		padding-right: 0.9rem;
		padding-bottom: 0.4rem;
		padding-left: 0.9rem;
	}

	.dropdown {
		font-size: 0.85rem;
		padding: 0.4rem;
	}

	.table-search th {
		padding-right: 0.4rem;
		padding-top: 0.4rem;
		padding-bottom: 0.3rem;
	}

	.table-search td {
		padding-right: 0.4rem;
		padding-top: 0.4rem;
		padding-bottom: 0.3rem;
	}

	.h2-svg img {
		width: 1.4rem;
	}

	.inner-container-expand {
		padding: 0 !important;
	}
}
