{% extends "base.html" %}
{% block title %}
    SimplyTransport - Route {{ route.short_name }}
{% endblock title %}
{% block content %}
    <div class="narrow-container">
        <h1>Route: {{ route.short_name }}</h1>
        {% if route.long_name != "" %}
            <h2>{{ route.long_name }}</h2>
        {% else %}
            <h2>No full name available</h2>
        {% endif %}
        {% if route.agency %}
            <h2>{{ route.agency.name }}</h2>
        {% else %}
            <h2>No operator found</h2>
        {% endif %}
        <h2 class="flex-gap">
            <a href="/realtime/route/{{ route.id }}/{%- if direction == 1 -%}0{%- else -%}1{%- endif -%}"><span class="h2-svg">
                <img src="/static/swap-arrow.svg"
                     alt="Two arrows going up and down"
                     width="100%"
                     height="auto">
            </span></a>
            {% if direction == 1 %}
                Northbound
            {% else %}
                Southbound
            {% endif %}
        </h2>
        <div class="inner-container inner-container-expand">{% include "/maps/realtime/route.html" %}</div>
        <div class="inner-container">{% include "/delays/routes/route_loader.html" %}</div>
        <div class="inner-container">
            <h3 class="h3-table">Stops:</h3>
            <table class="table-search table-sortable" aria-label="Stops on route">
                <thead class="hoverable">
                    <tr>
                        <th class="dense-text">Number</th>
                        <th class="dense-text">Name</th>
                        <th class="dense-text" data-type="number">Sequence</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stop, sequence in stops %}
                        <tr hx-get="/realtime/stop/{{ stop.id }}"
                            hx-trigger="click"
                            hx-target="body"
                            hx-replace-url="/realtime/stop/{{ stop.id }}">
                            <td class="dense-text">{{ stop.code }}</td>
                            <td class="dense-text">{{ stop.name }}</td>
                            <td class="dense-text">{{ sequence }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
