{% extends "base.html" %}
{% block title %}
    SimplyTransport - Stop {{ stop.name }}
{% endblock title %}
{% block content %}
    <div class="narrow-container">
        <h1>Stop: {{ stop.name }}</h1>
        {% if stop.code != "" %}
            <h2>Number: {{ stop.code }}</h2>
        {% else %}
            <h2>No number available</h2>
        {% endif %}
        <div class="flex-gap">
            <a style="text-decoration: none"
               href="https://www.google.com/maps?layer=c&amp;cbll={{ stop.lat }},{{ stop.lon }}&amp;cbp=0,0,,,"
               target="_blank">
                <button class="no-line-break link-button dense-text">Street View</button>
            </a>
            <a style="text-decoration: none"
               href="https://www.google.com/maps/dir/?api=1&destination={{ stop.lat }},{{ stop.lon }}"
               target="_blank">
                <button class="no-line-break link-button dense-text">Google Maps Directions</button>
            </a>
        </div>
        <div class="inner-container">
            <h3 class="h3-table">Realtime:</h3>
            <div class="flex-separate table-search-top-text-pad">
                <span class="dense-text">Showing <span class="word-highlight">{{ start_time_difference }}</span> and <span class="word-highlight">+{{ end_time_difference }}</span> mins</span><span class="code-highlight">{{ current_time.strftime("%H:%M:%S") }}</span>
            </div>
            <table class="table-search" aria-label="Realtime">
                <thead>
                    <tr>
                        <th class="dense-text">Route</th>
                        <th class="dense-text">RealTime</th>
                        <th class="dense-text">ETA</th>
                        <th class="dense-text">Delay</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rt in realtime_schedules %}
                        <tr>
                            {% if rt.on_time_status == "UNKNOWN" %}
                                {% set on_time_style = "color-unknown" %}
                            {% elif rt.on_time_status == "EARLY" %}
                                {% set on_time_style = "color-early" %}
                            {% elif rt.on_time_status == "LATE" %}
                                {% set on_time_style = "color-late" %}
                            {% elif rt.on_time_status == "ON_TIME" %}
                                {% set on_time_style = "color-on-time" %}
                            {% else %}
                                {% set on_time_style = "color-unknown" %}
                            {% endif %}
                            <td class="dense-text no-pointer bold-highlight {{ on_time_style }}">
                                <span class="code-highlight">{{ rt.static_schedule.route.short_name }}</span>
                            </td>
                            <td class="dense-text no-pointer">{{ rt.real_arrival_time }}</td>
                            <td class="dense-text no-pointer">{{ rt.real_eta_text }}</td>
                            <td class="dense-text no-pointer">{{ rt.delay }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination-total" style="position: relative;">
                <button class="pagination-button" onclick="copyTableToClipboard()">Copy Table</button>
                <span class="popuptext" id="copyPopup" onclick="hidePopup()">Table copied to clipboard ✅</span>
            </div>
        </div>
        <div class="inner-container inner-container-expand">{% include "/maps/realtime/stop.html" %}</div>
        <div class="inner-container">{% include "/realtime/routes_partial.html" %}</div>
        <div class="inner-container">{% include "/realtime/stop_features_partial.html" %}</div>
        <div class="inner-container"
             hx-get="/realtime/stop/{{ stop.id }}/schedule"
             hx-trigger="revealed"
             hx-target="#schedule-table"
             hx-include="[name='day']"
             hx-swap="transition:true">
            <h3 class="h3-table">
                Schedule
                <button class="toggle-visibility-button pagination-button">▼</button>
            </h3>
            <div class="collapsible" style="max-height:0;">
                <div class="load-with-dropdown">
                    <button hx-get="/realtime/stop/{{ stop.id }}/schedule"
                            hx-trigger="click"
                            hx-target="#schedule-table"
                            hx-swap="transition:true"
                            hx-include="[name='day']"
                            class="pagination-button">Reload</button>
                    <select class="dropdown" name="day">
                        <option value=0 {% if day_int == 0 %}selected{% endif %}>Monday</option>
                        <option value=1 {% if day_int == 1 %}selected{% endif %}>Tuesday</option>
                        <option value=2 {% if day_int == 2 %}selected{% endif %}>Wednesday</option>
                        <option value=3 {% if day_int == 3 %}selected{% endif %}>Thursday</option>
                        <option value=4 {% if day_int == 4 %}selected{% endif %}>Friday</option>
                        <option value=5 {% if day_int == 5 %}selected{% endif %}>Saturday</option>
                        <option value=6 {% if day_int == 6 %}selected{% endif %}>Sunday</option>
                    </select>
                </div>
                <div class="bottom-margin">
                    <input class="search-box" placeholder="Filter by route...">
                </div>
                <div id="schedule-table">
                    <h3 class="h3-table">Day: {{ day_string }}</h3>
                    <table class="table-search no-stripe table-sortable"
                           aria-label="Trips at stop">
                        <thead class="hoverable">
                            <tr>
                                <th class="dense-text">Route</th>
                                <th class="dense-text">Scheduled Arrival</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include "widgets/copy_to_clipboard.html" %}
    {% include "widgets/filter_table.html" %}
    {% include "widgets/toggle_visibility.html" %}
{% endblock content %}
