{% extends "base.html" %}
{% block title %}
    SimplyTransport - Trip {{ prime_schedule.trip.short_name }} on Route {{ prime_schedule.route.short_name }}
{% endblock title %}
{% block content %}
    <link rel="stylesheet"
          href="/static/delays.css?{{ request.app.openapi_config.version }}">
    <div class="narrow-container">
        <h1>Trip: {{ prime_schedule.trip.short_name }}</h1>
        <div class="flex-gap">
            <a style="text-decoration: none"
               href="/realtime/route/{{ prime_schedule.route.id }}/{{ prime_schedule.trip.direction }}">
                <button class="no-line-break link-button dense-text">Route: {{ prime_schedule.route.short_name }}</button>
            </a>
            <a style="text-decoration: none"
               href="/realtime/route/{{ prime_schedule.route.id }}/{{ prime_schedule.trip.direction }}">
                <button class="no-line-break link-button dense-text">Direction: {{ direction_string }}</button>
            </a>
        </div>
        <div class="inner-container">
            <h2 class="h2-table">Realtime Schedule:</h2>
            <div id="schedule-table">
                <table class="table-search no-stripe table-sortable"
                       aria-label="Schedule for trip">
                    <thead class="hoverable">
                        <tr>
                            <th class="dense-text">Stop Name</th>
                            <th class="dense-text">Stop Code</th>
                            <th class="dense-text">Scheduled</th>
                            <th class="dense-text">Realtime</th>
                            <th class="dense-text">Delay</th>
                            <th class="dense-text">Historical</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rt in rt_schedules %}
                            <tr>
                                {% if rt.on_time_status == "UNKNOWN" %}
                                    {% set on_time_style = "color-unknown" %}
                                {% elif rt.on_time_status == "EARLY" %}
                                    {% set on_time_style = "color-early" %}
                                {% elif rt.on_time_status == "LATE" %}
                                    {% set on_time_style = "color-late" %}
                                {% elif rt.on_time_status == "ON_TIME" %}
                                    {% set on_time_style = "color-on-time" %}
                                {% else %}
                                    {% set on_time_style = "color-unknown" %}
                                {% endif %}
                                <td class="dense-text no-pointer {{ on_time_style }}">
                                    <a class="no-underline"
                                       href="/realtime/stop/{{ rt.static_schedule.stop.id }}">
                                        <img class="link-icon-table"
                                             src="/static/link.svg"
                                             alt="link-icon"
                                             width="13"
                                             height="13">
                                    </a>{{ rt.static_schedule.stop.name }}
                                </td>
                                <td class="dense-text no-pointer">{{ rt.static_schedule.stop.code }}</td>
                                <td class="dense-text no-pointer">{{ rt.static_schedule.stop_time.arrival_time }}</td>
                                <td class="dense-text no-pointer">{{ rt.real_arrival_time }}</td>
                                <td class="dense-text no-pointer">{{ rt.delay }}</td>
                                <td class="dense-text"
                                    delay-stop-id="{{ rt.static_schedule.stop.id }}"
                                    delay-route-code="{{ rt.static_schedule.route.short_name }}"
                                    delay-scheduled-time="{{ rt.static_schedule.stop_time.arrival_time }}">
                                    <img class="link-icon-table"
                                         src="/static/load-me.svg"
                                         alt="link-icon"
                                         width="13"
                                         height="13">
                                    Load...
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination-total" style="position: relative;">
                    <div class="pagination-pages">
                        <button class="pagination-button" onclick="copyTableToClipboard(true)">Copy Table</button>
                        <button class="pagination-button" onclick="copyTableToClipboard(false)">Copy Raw</button>
                    </div>
                    <span class="popuptext" id="copyPopup" onclick="hidePopup()">Table copied to clipboard ✅</span>
                    <div class="colors-legend dense-text">
                        <span class="color-early">&nbsp;Early</span><span class="color-on-time">&nbsp;On Time</span><span class="color-late">&nbsp;Late</span><span class="color-unknown">&nbsp;Unknown</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "widgets/copy_to_clipboard.html" %}
    {% include "widgets/filter_table.html" %}
    {% include "widgets/delays_specific.html" %}
{% endblock content %}
