<style>
.popuptext {
    visibility: hidden;
    background-color: #555;
    color: var(--font-color);
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    top: -30px;
    transform: translateX(-25%);
}

.popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.show-popup {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
</style>
<script>
function copyTableToClipboard(copyAsCode = true) {
    const table = document.querySelector('.table-search');
    const headerCells = table.querySelectorAll('thead th');
    const bodyRows = table.querySelectorAll('tbody tr');

    const maxRows = 15;
    const rows = [];

    // Extract header
    const header = Array.from(headerCells).map(cell => cell.innerText.trim());
    rows.push(header);

    // Extract body rows
    for (let i = 0; i < Math.min(bodyRows.length, maxRows); i++) {
        const cells = bodyRows[i].querySelectorAll('td');
        const row = Array.from(cells).map(cell => cell.innerText.trim());
        rows.push(row);
    }

    // Determine column widths
    const colWidths = header.map((_, colIndex) => {
        return Math.max(...rows.map(row => row[colIndex].length));
    });

    // Format rows with vertical bars and aligned columns
    const formattedRows = rows.map(row => {
        return row.map((cell, colIndex) => cell.padEnd(colWidths[colIndex])).join(' | ');
    });

    var formattedTable = '';
    if (copyAsCode) {
        formattedTable = '```\n' + formattedRows.join('\n') + '\n```';
    }
    else {
        formattedTable = formattedRows.join('\n');
    }

    // Copy formatted table to clipboard
    const tempContainer = document.createElement('textarea');
    tempContainer.value = formattedTable;
    document.body.appendChild(tempContainer);
    tempContainer.select();
    document.execCommand('copy');
    document.body.removeChild(tempContainer);

    // Show popup
    var popup = document.getElementById("copyPopup");
    popup.classList.toggle("show-popup");

    // Hide popup after a delay
    setTimeout(hidePopup, 5000);
}

function hidePopup() {
    var popup = document.getElementById("copyPopup");
    popup.classList.toggle("show-popup");
}
</script>
