<style>
        .dot-flashing {
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: var(--font-color);
        color: var(--font-color);
        animation: dot-flashing 1s infinite linear alternate;
        animation-delay: 0.5s;
        margin-left: 1.3rem;
        margin-bottom: 0.5rem;
        }
        .dot-flashing::before, .dot-flashing::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        }
        .dot-flashing::before {
        left: -15px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: var(--font-color);
        color: var(--font-color);
        animation: dot-flashing 1s infinite alternate;
        animation-delay: 0s;
        }
        .dot-flashing::after {
        left: 15px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: var(--font-color);
        color: var(--font-color);
        animation: dot-flashing 1s infinite alternate;
        animation-delay: 1s;
        }

        .dots-flashing-flex{
            display: flex;
            align-items: flex-end;
        }

        @keyframes dot-flashing {
        0% {
            background-color: var(--font-color);
        }
        50%, 100% {
            background-color: rgba(119, 119, 119, 0.2);
        }
        }

        @media (max-width: 900px) {
            .dot-flashing{
                margin-bottom: 0.3rem;
            }
        }
</style>
