<!-- 
<button class="toggle-visibility-button">▼</button>
class="collapsible" style="max-height:0;" add to the div you want to hide
-->
<script>
document.querySelectorAll('.toggle-visibility-button').forEach(function(button) {
    button.addEventListener('click', function() {
        var content = this.parentNode.nextElementSibling;
        var isCollapsed = content.style.maxHeight !== '0px';
        content.style.maxHeight = isCollapsed ? '0px' : content.scrollHeight + 'px';
        this.textContent = isCollapsed ? '▼' : '▲';
    });
});
</script>
