{% extends "base.html" %}
{% block title %}
    SimplyTransport - Routes
{% endblock title %}
{% block content %}
    <div class="narrow-container">
        <h1 class="page-header dots-flashing-flex">
            Route Search
            {% include "widgets/dots_flashing.html" %}
            <div class="dot-flashing"></div>
        </h1>
        <p class="dense-text">
            Searches <span class="code-highlight">names</span> \ <span class="code-highlight">codes</span> where either start with your search term
        </p>
        <div>
            <div>
                <input class="search-box"
                       hx-get="/search/routes?pageSize=20"
                       hx-trigger="keyup[target.value.length > 0] changed delay:200ms, search"
                       hx-target="#route-search-results"
                       hx-swap="innerhtml"
                       type="search"
                       name="search"
                       placeholder="Search...">
                <span class="htmx-indicator">
                    <img class="loader-svg"
                         src="/static/loader.svg"
                         width="30px"
                         height="30px"
                         alt="Loading spinner">
                </span>
            </div>
            <div class="inner-container">
                <div id="route-search-results">
                    <table class="table-search">
                        <thead>
                            <tr>
                                <th class="dense-text">Code</th>
                                <th class="dense-text">Long Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Waiting for your search 😊</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
