<div class="map-container"
     hx-get="/maps/realtime/stop/{{ stop.id }}"
     hx-trigger="load"
     hx-target="#map-element"
     hx-indicator="#map-loader"
     hx-swap="transition:true">
    <div id="map-element"></div>
    <button hx-get="/maps/realtime/stop/{{ stop.id }}"
            hx-trigger="click"
            hx-target="#map-element"
            hx-swap="transition:true"
            class="pagination-button">Refresh</button>
    <img class="map-loader"
         id="map-loader"
         src="/static/loader.svg"
         width="100%"
         height="80px"
         alt="Loading spinner">
</div>
