<div class="map-container map-container--maplibre"
     data-latitude="{{ latitude }}"
     data-longitude="{{ longitude }}">
    <div id="map-element"></div>
    <img class="map-loader"
         id="map-loader"
         src="/static/loader.svg"
         width="100%"
         height="80px"
         alt="Loading spinner">
</div>
<script src="/static/js/stop-detail-popup.js?{{ request.app.openapi_config.version }}"></script>
<script src="/static/js/nearby-map.js?{{ request.app.openapi_config.version }}"></script>
